.card {

    padding: 24px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 4px 20px rgba(170, 169, 184, 0.1);
    border-radius: 12px;
}

.card__title {
    /* Roboto_bold_24px */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* Grey/800 */

    color: #3B4758;
}

.card__body {
    margin: 40px 0;
}

.card__footer {
    display: flex;
    flex-direction: column;
}