@* Списание расходного материала *@
<div class="modal fade" tabindex="-1" id="WriteOffConsumableModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Списание расходного материала</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Количество</label>
					<input type="text" class="form-control" id="quantityWriteOff" name="quantity" placeholder="Количество" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Комментарий</label>
					<input type="text" class="form-control" id="comment" name="comment" placeholder="Комментарий" />
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="writeOffBtn" class="btn btn-primary">Списать</button>
			</div>
		</div>
	</div>
</div>