@* Добавление новой заявки *@
<div class="modal fade" id="ApplicationModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Создание новой заявки</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body mb-3">
				<div class="mb-1">
					<label class="form-label" for="floatingInput">Категория</label>
					<select id="category"></select>
				</div>

				<div class="mb-1">
					<label for="exampleFormControlInput1" class="form-label">Тема</label>
					<input type="text" class="form-control" id="subject" placeholder="Тема заявки...">
				</div>
				<div class="mb-1">
					<label for="exampleFormControlTextarea1" class="form-label">Описание неисправности</label>
					<textarea class="form-control" id="description" rows="3"></textarea>
				</div>
				<div class="mb-1">
					<label for="exampleFormControlInput1" class="form-label">Автор</label>
					<input type="text" class="form-control" id="author" placeholder="Иванов И.П.">
				</div>
				<div class="mb-1">
					<label class="form-label" for="floatingInput">Местоположение</label>
					<select id="location"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Выберите приоритет заявки</label>
					<select id="priority" class="form-select mb-1" aria-label="Пример выбора по умолчанию">
						<option value="0">
							Критический
						</option>
						<option value="1">
							Высокий
						</option>
						<option value="2">
							Нормальный
						</option>
						<option value="3">
							Низкий
						</option>
					</select>
				</div>

				<div class="form-check mb-1">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">
						Открыть заявку после отправки
					</label>
				</div>
				<div class="form-check mb-1">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">
						Назначить заявку себе
					</label>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="create-btn" class="btn btn-primary">Отправить</button>
			</div>
		</div>
	</div>
</div>

@* Фильтр *@
<div class="modal fade" id="FilterModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Фильтр</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="container">
				<div class="row">
					<h6>Статус</h6>
					<div class="col-4">
						<div>
							Выбрать все
						</div>
						<div>
							Убрать выделение
						</div>
					</div>
					<div class="col-4">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Новая
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Решена
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Передана
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								В работе
							</label>
						</div>
					</div>
					<div class="col-4">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Приостановлена
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Получен комментарий
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Комментарий отправлен
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<h6>Приоритет</h6>
					<div class="col-4">
						<div>
							Выбрать все
						</div>
						<div>
							Убрать выделение
						</div>
					</div>
					<div class="col-4">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Критический
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Высокий
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Нормальный
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Низкий
							</label>
						</div>
					</div>
					<div class="col-4">

					</div>
				</div>


				<div class="row">
					<h6>Показывать</h6>
					<div class="col-4">
						<div>
							Выбрать все
						</div>
						<div>
							Убрать выделение
						</div>
					</div>
					<div class="col-4">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Назначенные мне
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Без назначения
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Назначенные другим
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Только помеченные
							</label>
						</div>
					</div>
					<div class="col-4">
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="create-btn" class="btn btn-primary">Применить</button>
			</div>
		</div>
	</div>
</div>