@* Фильтр заявок*@
<div class="modal fade" id="FilterModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Фильтр</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container">
                <!-- Фильтр по статусу -->
                <div class="row">
                    <h6>Статус</h6>
                    <div class="col-4">
                        <div>
                            <a href="#" id="selectAllStatus">Выбрать все</a>
                        </div>
                        <div>
                            <a href="#" id="deselectAllStatus">Убрать выделение</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="new" id="statusNew">
                                    <label class="form-check-label" for="statusNew">Новая</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="resolved" id="statusResolved">
                                    <label class="form-check-label" for="statusResolved">Решена</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="transferred" id="statusTransferred">
                                    <label class="form-check-label" for="statusTransferred">Передана</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="paused" id="statusPaused">
                                    <label class="form-check-label" for="statusPaused">Приостановлена</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="commentReceived" id="statusCommentReceived">
                                    <label class="form-check-label" for="statusCommentReceived">Получен комментарий</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="commentSent" id="statusCommentSent">
                                    <label class="form-check-label" for="statusCommentSent">Комментарий отправлен</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Фильтр по приоритету -->
                <div class="row mt-3">
                    <h6>Приоритет</h6>
                    <div class="col-4">
                        <div>
                            <a href="#" id="selectAllPriority">Выбрать все</a>
                        </div>
                        <div>
                            <a href="#" id="deselectAllPriority">Убрать выделение</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="critical" id="priorityCritical">
                            <label class="form-check-label" for="priorityCritical">Критический</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="high" id="priorityHigh">
                            <label class="form-check-label" for="priorityHigh">Высокий</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="normal" id="priorityNormal">
                            <label class="form-check-label" for="priorityNormal">Нормальный</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="low" id="priorityLow">
                            <label class="form-check-label" for="priorityLow">Низкий</label>
                        </div>
                    </div>
                </div>

                <!-- Фильтр "Показывать" -->
                <div class="row mt-3">
                    <h6>Показывать</h6>
                    <div class="col-4">
                        <div>
                            <a href="#" id="selectAllShow">Выбрать все</a>
                        </div>
                        <div>
                            <a href="#" id="deselectAllShow">Убрать выделение</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="assignedToMe" id="showAssignedToMe">
                            <label class="form-check-label" for="showAssignedToMe">Назначенные мне</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="unassigned" id="showUnassigned">
                            <label class="form-check-label" for="showUnassigned">Без назначения</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="assignedToOthers" id="showAssignedToOthers">
                            <label class="form-check-label" for="showAssignedToOthers">Назначенные другим</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="flagged" id="showFlagged">
                            <label class="form-check-label" for="showFlagged">Только помеченные</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="applyFilter" class="btn btn-primary">Применить</button>
            </div>
        </div>
    </div>
</div>