@using AccountingTM.ViewModels.TechnicalEquipment
@model InfoViewModel

@* Сведения об утилизации *@
<div class="modal fade" tabindex="-1" id="addDisposalInformationModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Добавление сведений об утилизации</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-1">
					<label for="floatingInput">Дата</label>
					<input type="text" id="dateDisposalInformation" class="form-control" name="dateDisposalInformation" placeholder="Дата" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Описание</label>
					<input type="text" class="form-control" id="description" name="description" placeholder="Описание" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Примечание</label>
					<input type="text" class="form-control" id="note" name="note" placeholder="Примечание" />
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="createDisposalInformationBtn" class="btn btn-primary">Добавить</button>
			</div>
		</div>
	</div>
</div>