@* Создание нового комплекта *@
<div class="modal fade" tabindex="-1" id="EditSetModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Изменение названия комплекта</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование</label>
					<input type="text" class="form-control" id="meaning" name="meaning" placeholder="Введите новое название для комплекта" />
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="create-btn" class="btn btn-primary">Изменить</button>
			</div>
		</div>
	</div>
</div>
