@using AccountingTM.ViewModels.Application
@model ApplicationViewModel

@using (Html.BeginForm("Create", "Applications"))
{
	<div class="modal fade" id="ApplicationModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<form method="post" asp-controller="Applications" asp-action="Create">

				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Создание новой заявки</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div class="form-floating mb-2">
							<input type="text"
							class="form-control"
							id="name"
							name="name"
							placeholder="Введите наименование ТС" />
							<label for="floatingInput">Введите наименование ТС</label>
						</div>

						<div class="form-floating  mb-2">
							<input type="text"
							class="form-control"
							id="model"
							name="model"
							placeholder="Введите модель ТС" />
							<label for="floatingInput">Введите модель ТС</label>
						</div>

						<div class="form-floating  mb-2">
							<input type="text"
							class="form-control"
							id="serial_number"
							name="serialNumber"
							placeholder="Введите серийный номер" />
							<label for="floatingInput">Введите серийный номер</label>
						</div>

						<select class="form-select mb-2" aria-label="Пример выбора по умолчанию">
							<option selected>Откройте это меню выбора</option>
							<option value="0">
								В ремонте
							</option>
							<option value="1">
								Исправно
							</option>
							<option value="2">
								Неисправно
							</option>
						</select>

						<div class="form-floating  mb-2">
							<input type="text"
							class="form-control"
							id="responsible"
							name="responsible"
							placeholder="Введите ФИО ответственного" />
							<label for="floatingInput">Введите ФИО ответственного</label>
						</div>

						<div class="form-floating">
							<input type="text"
							class="form-control"
							id="location"
							name="location"
							placeholder="Введите местоположение ТС" />
							<label for="floatingInput">Введите местоположение ТС</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
						<button type="submit" class="btn btn-primary">Добавить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
}