@{
    ViewData["Title"] = "Directory";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

@section LeftNavbar {
	<ol class="breadcrumb float-sm-right m-0 bg-white">
		<li class="breadcrumb-item"><a asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item active">Directory</li>
	</ol>
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Справочники</h1>
			</div>
		</div>
	</div>
</section>


<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<nav class="sidebar-sticky shadow-sm bg-body-tertiary rounded navbar-expand-md" id="nav-page">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto flex-column">
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/TypeEquipment">
								<p>
									Типы технических средств
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/TypeConsumable">
								<p>
									Типы расходных материалов
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/Brand">
								<p>
									Бренды
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/Location">
								<p>
									Помещения
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/Employee">
								<p>
									Сотрудники
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/Indicator">
								<p>
									Показатели
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/Unit">
								<p>
									Единицы измерения
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-url="Directory/Category">
								<p>
									Категории заявок
								</p>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		
		<div class="col-10" id="page-content">

		</div>
	</div>
</div>

@section Scripts {
	<script src="~/views/directory/index.js" type="module"></script>
}