<footer class="main-footer bg-light py-3 shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <span class="text-muted">
            <strong>© 2023-2025 AccountingTM</strong> | Все права защищены.
        </span>
        <span class="text-muted d-none d-sm-inline">
            <b>Версия:</b> 1.2.1
        </span>
    </div>
</footer>
