<!-- Right navbar links -->
<ul class="navbar-nav ms-auto d-flex align-items-center gap-3">

    <!-- Notifications Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link" id="notificationIcon" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span id="notificationCount" class="badge badge-warning navbar-badge" style="display: none;">0</span>
        </a>
        <div id="notificationDropdown" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">Уведомления</span>
            <div class="dropdown-divider"></div>
            <div id="notificationList"></div>
            <a href="#" class="dropdown-item dropdown-footer" onclick="markAsRead()">Отметить все как прочитанные</a>
        </div>
    </li>

    <!-- Logout Button -->
    <li class="nav-item">
        <form asp-action="Logout" asp-controller="Account" method="post" class="d-inline">
            <button class="btn btn-outline-danger btn-sm">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти
            </button>
        </form>
    </li>
</ul>
