@* <link rel="stylesheet" href="/css/Components/menu_left_side.css"/>

	<div class="sidebar">
		<!--profile image & text-->
		<!--menu item-->
		<div class="profile">
			<img src="/img/technical-support.png"/>
			<h3>Accounting</h3>
		</div>
		<ul>
			<li>
				<span class="icon"><img src="/img/auto_stories.png"/></span>
				<a class="nav-link" asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">Учет ТС</a>
			</li>
			<li>
			<span class="icon"><img src="/img/edit.png" /></span>
				<a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Index">Заявки</a>
			</li>
			<li>
			<span class="icon"><img src="/img/account_circle.png" /></span>
				<a class="nav-link" asp-area="" asp-controller="Statistics" asp-action="Index">Статистика</a>
			</li>
			<li>
			<span class="icon"><img src="/img/group.png" /></span>
				<a class="nav-link" asp-area="" asp-controller="Directory" asp-action="Index">Справочники</a>
			</li>
			<li>
			<span class="icon"><img src="/img/account_circle.png" /></span>
				<a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Index">Администрирование</a>
			</li>
		</ul>
</div>
 *@