<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/img/technical-support.png" alt="AccountingTM Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AccountingTM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <i class="fa-solid fa-user img-circle elevation-2"></i>
            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active">
                        <i class="fa-solid fa-folder-open"></i>
                        <p>
                            Учет
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="Index">
                                <i class="nav-icon fa-solid fa-computer"></i>
                                <p>
                                    Технические средства
                                </p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="Set">
                                <i class="nav-icon fa-solid fa-toolbox"></i>
                                <p>
                                    Комплекты
                                </p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="Consumable">
                                <i class="nav-icon fa-solid fa-battery-three-quarters"></i>
                                <p>
                                    Расходные материалы
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Application" asp-action="Index">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Заявки
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Statistic" asp-action="Index">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Статистика
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Directory" asp-action="Index">
                        <i class="nav-icon fa-solid fa-folder-tree"></i>
                        <p>
                            Справочники
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Index">
                        <i class="nav-icon fa-solid fa-user-tie"></i>
                        <p>
                            Администрирование
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="Index">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Календарь
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>