@* @using AccountingTM.ViewModels.TechnicalEquipment
@model InfoViewModel *@

@* Изменение основной информации *@
<div class="modal fade" id="editUserPage" tabindex="-1" aria-labelledby="editUserPageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserPageLabel">Редактировать данные</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <!-- Поля для редактирования -->
                <form>
                    <div class="mb-3">
                        <label for="editFullName" class="form-label">ФИО</label>
                        <input type="text" class="form-control" id="editFullName" value="Иванов Иван Иванович">
                    </div>
                    <div class="mb-3">
                        <label for="editLogin" class="form-label">Логин</label>
                        <input type="text" class="form-control" id="editLogin" value="ivanov_ii">
                    </div>
                    <div class="mb-3">
                        <label for="editPosition" class="form-label">Должность</label>
                        <input type="text" class="form-control" id="editPosition" value="Инженер отдела контроля">
                    </div>
                    <div class="mb-3">
                        <label for="editRights" class="form-label">Права доступа</label>
                        <select class="form-select" id="editRights">
                            <option value="Пользователь">Пользователь</option>
                            <option value="Администратор" selected>Администратор</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>