@* @using AccountingTM.ViewModels.TechnicalEquipment
@model InfoViewModel *@

@* Изменение основной информации *@
<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">Сбросить пароль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите сбросить пароль для этого пользователя? Новый пароль будет сгенерирован автоматически.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger">Сбросить пароль</button>
            </div>
        </div>
    </div>
</div>