@* Добавление расходного материала *@
<div class="modal fade" tabindex="-1" id="create">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Добавление технического средства</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование типа</label>
					<select id="typeConsumable"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование бренда</label>
					<select id="brand"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование модели</label>
					<input type="text" class="form-control" id="model" name="model" placeholder="Наименование модели"/>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Серийный номер</label>
					<input type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="Серийный номер"/>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Ответственный</label>
					<select id="employee"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Местоположение</label>
					<select id="location"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Единица измерения</label>
					<select id="unit"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Количество</label>
					<input type="text" class="form-control" id="quantity" name="serialNumber" placeholder="Количество" />
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="create-btn" class="btn btn-primary">Добавить</button>
			</div>
		</div>
	</div>
</div>