@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

@section LeftNavbar {
    <ol class="breadcrumb float-sm-right m-0 bg-white">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Statistics</li>
    </ol>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Статистика</h1>
            </div>
        </div>
    </div>
</section>

<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
    <div class="row">
        <div class="col-3 mb-1">
            <input type="text" id="dateStatistic" class="form-control" name="dateStatistic" placeholder="Выберите период статистики" />
        </div>

        <div class="col-3">
            <button id="createConservationBtn" class="btn btn-default">Применить</button>
        </div>

        <div class="col-6">
            <div class="float-sm-right">
                <button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#add" type="submit">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn btn-default">
                    <i class="fa-solid fa-download"></i>
                </button>
                <button type="button" class="btn btn-default">
                    <i class="fa-solid fa-print"></i>
                </button>
            </div>
        </div>

    </div>
</div>

<section class="content mt-3">
    <div class="container-fluid">
        <!-- Карточки с общей статистикой -->
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Технические средства</h5>
                        <p class="card-text">Всего: <strong>250</strong></p>
                        <p class="card-text">Исправные: <strong>200</strong></p>
                        <p class="card-text">Неисправные: <strong>50</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Расходные материалы</h5>
                        <p class="card-text">Всего: <strong>120</strong></p>
                        <p class="card-text">Использовано за месяц: <strong>40</strong></p>
                        <p class="card-text">Запас на складе: <strong>80</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Неисправности</h5>
                        <p class="card-text">Всего: <strong>15</strong></p>
                        <p class="card-text">Ожидают ремонта: <strong>10</strong></p>
                        <p class="card-text">Устранено: <strong>5</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Заявки</h5>
                        <p class="card-text">Всего заявок: <strong>250</strong></p>
                        <p class="card-text">Обработано: <strong>180</strong></p>
                        <p class="card-text">В работе: <strong>50</strong></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Обновленная страница статистики -->
        <div class="container mt-4">
            <h1 class="text-center">Статистика оборудования</h1>

            <!-- Блок с таблицами -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <h3>Техника с истекшим сроком службы</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Дата истечения</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Данные из БД -->
                            <tr>
                                <td>Детектор X-Ray</td>
                                <td>2024-11-01</td>
                            </tr>
                            <tr>
                                <td>Сканер 3D</td>
                                <td>2024-10-15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <h3>Частые неисправности</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Тип неисправности</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Данные из БД -->
                            <tr>
                                <td>Сбой ПО</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Механический дефект</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Хронология операций -->
            <div class="row mb-4">
                <div class="col-md-12">
                    <h3>Хронология операций с оборудованием</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Операция</th>
                                <th>Оборудование</th>
                                <th>Ответственный</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Данные из БД -->
                            <tr>
                                <td>2024-10-01</td>
                                <td>Ремонт</td>
                                <td>Детектор X-Ray</td>
                                <td>Иванов И.И.</td>
                            </tr>
                            <tr>
                                <td>2024-10-05</td>
                                <td>Передача</td>
                                <td>Сканер 3D</td>
                                <td>Петров П.П.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


