<div class="modal fade" tabindex="-1" id="createUser">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Добавление пользователя</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Фамилия</label>
					<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Фамилия" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Имя</label>
					<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Имя" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Отчество</label>
					<input type="text" class="form-control" id="fatherName" name="fatherName" placeholder="Отчество" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Логин</label>
					<input type="text" class="form-control" id="login" name="login" placeholder="Логин" />
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Пароль</label>
					<input type="text" class="form-control" id="password" name="password" placeholder="Пароль" />
				</div>
				<div class="mb-1">
					<label class="form-label" for="floatingInput">Роль</label>
					<select id="userRoles"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Сотрудник</label>
					<select id="employee"></select>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="createUserBtn" class="btn btn-primary">Добавить</button>
			</div>
		</div>
	</div>
</div>