@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

@section LeftNavbar {
    <ol class="breadcrumb float-sm-right m-0 bg-white">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
    </ol>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Пользователи</h1>
            </div>
        </div>
    </div>
</section>

<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
    <div class="row align-items-center">
        <!-- Поле поиска -->
        <div class="col-md-3">
            <div class="input-group">
                <input id="search-input" type="search" class="form-control" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-secondary" type="submit" id="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <!-- Кнопки действий -->
        <div class="col-md-9 d-flex justify-content-md-end justify-content-start gap-2 flex-wrap">
            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createUser">
                <i class="fa-solid fa-plus"></i> Добавить
            </button>
        </div>
    </div>
</div>


<table id="usersTable" class="table table-bordered align-middle table-hover table-striped w-100">
    <thead>
        <tr>
            <th>Фамилия, имя, отчество</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@await Html.PartialAsync("_AddUserModal.cshtml")
@await Html.PartialAsync("_EditUserModal.cshtml")

@section Scripts {
    <script src="~/views/users/index.js" asp-append-version="true"></script>
}