@* Добавление технического средства *@
<div class="modal fade" tabindex="-1" id="create">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Добавление технического средства</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование типа</label>
					<select id="typeEquipment"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование бренда</label>
					<select id="brand"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Наименование модели</label>
					<select id="model"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Серийный номер</label>
					<input type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="Серийный номер"/>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Инвентарный номер</label>
					<input type="text" class="form-control" id="inventoryNumber" name="inventoryNumber" placeholder="Инвентарный номер"/>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Выберите состояние</label>
					<select id="state" class="form-select mb-1" aria-label="Пример выбора по умолчанию">
						<option value="0">
							Исправно
						</option>
						<option value="1">
							Неисправно
						</option>
						<option value="2">
							Работоспособно
						</option>
						<option value="3">
							Неработоспособно
						</option>
					</select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Ответственный</label>
					<select id="employee"></select>
				</div>

				<div class="mb-1">
					<label class="form-label" for="floatingInput">Местоположение</label>
					<select id="location"></select>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="create-btn" class="btn btn-primary">Добавить</button>
			</div>
		</div>
	</div>
</div>