@* Загрузка списка из файла *@
<div class="modal fade" tabindex="-1" id="upload">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Загрузка списка из файла</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="mb-3">
					<input class="form-control" type="file" id="formFile">
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="upload-btn" class="btn btn-primary">Зарузить</button>
			</div>
		</div>
	</div>
</div>