@* @using AccountingTM.ViewModels.Account;
@using AccountingTM.Views.Shared.Components.Input;
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
@*    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/Components/input.css" />
    <link rel="stylesheet" href="/css/Components/button.css" />
    <link rel="stylesheet" href="/css/Components/card.css" />
    <link rel="stylesheet" href="/css/Account/index.css">
*@@* </head> *@
@* <body>

    <div class="card">

        <form asp-action="Add" asp-controller="TechnicalEquipment" method="post" class="form addts">

            <div class="card__header">
                <h2 class="card__title">Добавить</h2>
            </div>
            <div class="card__body">
                @await Component.InvokeAsync("Input", new InputViewModel {Placeholder="Наименование...", Type="text", AspFor="Login"})
                @await Component.InvokeAsync("Input", new InputViewModel {Placeholder="Модель...", Type="text", AspFor="Password"})
                @await Component.InvokeAsync("Input", new InputViewModel {Placeholder="Серийный номер...", Type="text", AspFor="Password"})
                @await Component.InvokeAsync("Input", new InputViewModel {Placeholder="Статус...", Type="text", AspFor="Password"})
                @await Component.InvokeAsync("Input", new InputViewModel {Placeholder="Ответственный...", Type="text", AspFor="Password"})
                @await Component.InvokeAsync("Input", new InputViewModel {Placeholder="Местоположение...", Type="text", AspFor="Password"})
            </div>
            <div class="card__footer">
                <button class="btn btn-primary" style="width:100%">Добавить</button>
            </div>

        </form>

    </div>

</body>
</html> *@