
	<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
		<div class="row">
			<div class="col-9">
				<h5>Роли учетных записей</h5>
			</div>
			<div class="col-3">
				<div class="float-sm-right">
					<button class="btn btn-default mb-1" data-bs-toggle="modal" data-bs-target="#create" type="submit">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<table id="reciepts" class="table table-bordered align-middle table-hover" style="width:100%">
				<thead class="table">
					<tr>
						<td>Наименование</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
